In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
order=pd.read_excel("Retail_dataset.xlsx", sheet_name="orders")
ordItem=pd.read_excel("Retail_dataset.xlsx", sheet_name="order_items")
customer=pd.read_excel("Retail_dataset.xlsx", sheet_name="customers")
payment=pd.read_excel("Retail_dataset.xlsx", sheet_name="payments")
product=pd.read_excel("Retail_dataset.xlsx", sheet_name="products")

In [3]:
order.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26

In [4]:
ordItem.head()

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [5]:
customer.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
product.head()

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0

In [8]:
print('Orders',order.shape)
print('Order Items',ordItem.shape)
print('Customers',customer.shape)
print('Payments',payment.shape)
print('Products',product.shape)

Orders (99441, 7)
Order Items (112650, 6)
Customers (99441, 4)
Payments (103886, 5)
Products (32951, 6)

# Orders Table Data Cleanup

In [9]:
order.isnull().sum()/len(order)*100

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.160899
order_delivered_timestamp        2.981668
order_estimated_delivery_date    0.000000
dtype: float64

In [10]:
order = order.dropna()

In [11]:
order.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
dtype: int64

In [12]:
order.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96462 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96462 non-null  object
 1   customer_id                    96462 non-null  object
 2   order_status                   96462 non-null  object
 3   order_purchase_timestamp       96462 non-null  datetime64[ns]
 4   order_approved_at              96462 non-null  datetime64[ns]
 5   order_delivered_timestamp      96462 non-null  datetime64[ns]
 6   order_estimated_delivery_date  96462 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(3)
memory usage: 5.9+ MB

In [13]:
order_del=order[order['order_status']=='delivered']

In [14]:
order_del.shape

(96456, 7)

# Order Items Data Cleanup

In [15]:
ordItem.isnull().sum()/len(ordItem)*100

order_id            0.0
order_item_id       0.0
product_id          0.0
seller_id           0.0
price               0.0
shipping_charges    0.0
dtype: float64

In [16]:
ordItem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          112650 non-null  object
 1   order_item_id     112650 non-null  int64
 2   product_id        112650 non-null  object
 3   seller_id         112650 non-null  object
 4   price             112650 non-null  float64
 5   shipping_charges  112650 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.2+ MB

In [17]:
ordItem.describe()

       order_item_id          price  shipping_charges
count  112650.000000  112650.000000     112650.000000
mean        1.197834     120.653739         19.990320
std         0.705124     183.633928         15.806405
min         1.000000       0.850000          0.000000
25%         1.000000      39.900000         13.080000
50%         1.000000      74.990000         16.260000
75%         1.000000     134.900000         21.150000
max        21.000000    6735.000000        409.680000

# Customers Data Cleanp

In [18]:
customer.isnull().sum()/len(customer)*100

customer_id                 0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [19]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_zip_code_prefix  99441 non-null  int64
 2   customer_city             99441 non-null  object
 3   customer_state            99441 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [20]:
customer.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [21]:
customer.customer_state.unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)

In [22]:
customer.customer_city.value_counts()

sao paulo          15540
rio de janeiro      6882
belo horizonte      2773
brasilia            2131
curitiba            1521
                   ...
ferreiros              1
macuco                 1
monsenhor paulo        1
mombaca                1
frei rogerio           1
Name: customer_city, Length: 4119, dtype: int64

In [23]:
customer.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

# Payments Data Cleanup

In [24]:
payment.isnull().sum()/len(payment)*100

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

In [25]:
payment.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

# Products Data Cleanup

In [26]:
product.isnull().sum()/len(product)*100

product_id               0.000000
product_category_name    0.515918
product_weight_g         0.006070
product_length_cm        0.006070
product_height_cm        0.006070
product_width_cm         0.006070
dtype: float64

In [27]:
product.isnull().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [28]:
product.product_category_name.value_counts()

toys                                 24725
bed_bath_table                         789
sports_leisure                         721
furniture_decor                        687
health_beauty                          648
                                     ...
furniture_mattress_and_upholstery        1
security_and_services                    1
fashion_childrens_clothes                1
diapers_and_hygiene                      1
home_comfort_2                           1
Name: product_category_name, Length: 70, dtype: int64

In [29]:
product.product_category_name.unique()

array(['perfumery', 'art', 'sports_leisure', 'baby', 'housewares',
       'musical_instruments', 'cool_stuff', 'furniture_decor',
       'home_appliances', 'toys', 'bed_bath_table',
       'construction_tools_safety', 'computers_accessories',
       'health_beauty', 'luggage_accessories', 'garden_tools',
       'office_furniture', 'auto', 'electronics', 'fashion_shoes',
       'telephony', 'stationery', 'fashion_bags_accessories', 'computers',
       'home_construction', 'watches_gifts',
       'construction_tools_construction', 'pet_shop', 'small_appliances',
       'agro_industry_and_commerce', nan, 'furniture_living_room',
       'signaling_and_security', 'air_conditioning', 'consoles_games',
       'books_general_interest', 'costruction_tools_tools',
       'fashion_underwear_beach', 'fashion_male_clothing',
       'kitchen_dining_laundry_garden_furniture',
       'industry_commerce_and_business', 'fixed_telephony',
       'construction_tools_lights', 'books_technical',
       'home_appliances_2', 'party_supplies', 'drinks', 'market_place',
       'la_cuisine', 'costruction_tools_garden', 'fashio_female_clothing',
       'home_confort', 'audio', 'food_drink', 'music', 'food',
       'tablets_printing_image', 'books_imported',
       'small_appliances_home_oven_and_coffee', 'fashion_sport',
       'christmas_supplies', 'fashion_childrens_clothes', 'dvds_blu_ray',
       'arts_and_craftmanship', 'furniture_bedroom', 'cine_photo',
       'diapers_and_hygiene', 'flowers', 'home_comfort_2',
       'security_and_services', 'furniture_mattress_and_upholstery'],
      dtype=object)

It can be clearly seen that product category name has some values which makes no sense.
1) Values like 'cool_stuff' can be dropped as it has no meaning.
2) Some values like 'bed_bath_table','home_confort', 'furniture_mattress_and_upholstery' can come under 'housewares' category

In [30]:
product['product_category_name'] = product['product_category_name'].replace(['bed_bath_table','home_confort','furniture_mattress_and_upholstery','home_comfort_2','home_appliances_2','home_appliances','small_appliances','furniture_living_room','furniture_bedroom','kitchen_dining_laundry_garden_furniture'],'housewares')
product['product_category_name'] = product['product_category_name'].replace(['food_drink','drinks','la_cuisine'],'food')
product['product_category_name'] = product['product_category_name'].replace(['computers_accessories','computers','dvds_blu_ray','small_appliances_home_oven_and_coffee'],'electronics')
product['product_category_name'] = product['product_category_name'].replace(['construction_tools_lights','construction_tools_construction','construction_tools_safety','costruction_tools_garden','home_construction','costruction_tools_tools','garden_tools'],'construction_tools')
product['product_category_name'] = product['product_category_name'].replace(['fashion_shoes','fashion_bags_accessories','fashion_male_clothing','fashion_underwear_beach','fashio_female_clothing','fashion_childrens_clothes','fashion_sport'],'fashion')
product['product_category_name'] = product['product_category_name'].replace(['books_general_interest','books_technical','books_imported'],'books')
product['product_category_name'] = product['product_category_name'].replace(['audio','musical_instruments'],'music')
product['product_category_name'] = product['product_category_name'].replace(['diapers_and_hygiene'],'baby')
product['product_category_name'] = product['product_category_name'].replace(['fixed_telephony'],'telephony')
product['product_category_name'] = product['product_category_name'].replace(['signaling_and_security'],'security_and_services')
product['product_category_name'] = product['product_category_name'].replace(['arts_and_craftmanship'],'art')
product['product_category_name'] = product['product_category_name'].replace(['np.nan','market_place','tablets_printing_image','cool_stuff','cine_photo'],'other')

In [31]:
product.product_category_name.unique()

array(['perfumery', 'art', 'sports_leisure', 'baby', 'housewares',
       'music', 'other', 'furniture_decor', 'toys', 'construction_tools',
       'electronics', 'health_beauty', 'luggage_accessories',
       'office_furniture', 'auto', 'fashion', 'telephony', 'stationery',
       'watches_gifts', 'pet_shop', 'agro_industry_and_commerce', nan,
       'security_and_services', 'air_conditioning', 'consoles_games',
       'books', 'industry_commerce_and_business', 'party_supplies',
       'food', 'christmas_supplies', 'flowers'], dtype=object)

In [32]:
product.product_category_name.value_counts()

toys                              24725
housewares                         1702
sports_leisure                      721
furniture_decor                     687
health_beauty                       648
electronics                         605
auto                                489
construction_tools                  422
watches_gifts                       336
telephony                           323
fashion                             305
baby                                248
other                               237
stationery                          236
perfumery                           225
pet_shop                            172
luggage_accessories                 103
music                                98
office_furniture                     97
books                                91
consoles_games                       89
food                                 69
air_conditioning                     40
security_and_services                32
agro_industry_and_commerce           21
art                                  20
christmas_supplies                   16
industry_commerce_and_business       13
party_supplies                        9
flowers                               2
Name: product_category_name, dtype: int64

In [33]:
product=product.dropna()

In [34]:
product.shape

(32779, 6)

In [35]:
product.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [36]:
product.describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32779.000000,32779.000000,32779.000000,32779.000000
mean,2275.931328,30.823271,16.944873,23.198389
std,4280.002776,16.928746,13.636420,12.076981
min,0.000000,7.000000,2.000000,6.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

Null Values are treated

# Outlier Analysis

In [37]:
# Checking the Outliers in the order_items table.

ordItem.describe()

       order_item_id          price  shipping_charges
count  112650.000000  112650.000000     112650.000000
mean        1.197834     120.653739         19.990320
std         0.705124     183.633928         15.806405
min         1.000000       0.850000          0.000000
25%         1.000000      39.900000         13.080000
50%         1.000000      74.990000         16.260000
75%         1.000000     134.900000         21.150000
max        21.000000    6735.000000        409.680000

In [38]:
ordItem.quantile([0.25,0.50,0.75,0.95,0.99,1])

      order_item_id    price  shipping_charges
0.25            1.0    39.90             13.08
0.50            1.0    74.99             16.26
0.75            1.0   134.90             21.15
0.95            2.0   349.90             45.12
0.99            4.0   890.00             84.52
1.00           21.0  6735.00            409.68

In [39]:
# Checking the payments in the order_items table.
payment.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

In [40]:
# Checking the product in the order_items table.
product.describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,32779.000000,32779.000000,32779.000000,32779.000000
mean,2275.931328,30.823271,16.944873,23.198389
std,4280.002776,16.928746,13.636420,12.076981
min,0.000000,7.000000,2.000000,6.000000
25%,300.000000,18.000000,8.000000,15.000000
50%,700.000000,25.000000,13.000000,20.000000
75%,1900.000000,38.000000,21.000000,30.000000
max,40425.000000,105.000000,105.000000,118.000000

# Merging Datasets

In [41]:
#Merging Customer and Orders table
left_merged = pd.merge(order_del, customer, how="left", on=["customer_id"])

In [42]:
left_merged.shape

(104019, 10)

In [43]:
left_merged.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
dtype: int64

In [44]:
left_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104019 entries, 0 to 104018
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       104019 non-null  object
 1   customer_id                    104019 non-null  object
 2   order_status                   104019 non-null  object
 3   order_purchase_timestamp       104019 non-null  datetime64[ns]
 4   order_approved_at              104019 non-null  datetime64[ns]
 5   order_delivered_timestamp      104019 non-null  datetime64[ns]
 6   order_estimated_delivery_date  104019 non-null  datetime64[ns]
 7   customer_zip_code_prefix       104019 non-null  int64
 8   customer_city                  104019 non-null  object
 9   customer_state                 104019 non-null  object
dtypes: datetime64[ns](4), int64(1), object(5)
memory usage: 8.7+ MB

In [45]:
ordInfo = pd.merge(left_merged, payment, how="left", on=["order_id"])

In [46]:
ordInfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108727 entries, 0 to 108726
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       108727 non-null  object
 1   customer_id                    108727 non-null  object
 2   order_status                   108727 non-null  object
 3   order_purchase_timestamp       108727 non-null  datetime64[ns]
 4   order_approved_at              108727 non-null  datetime64[ns]
 5   order_delivered_timestamp      108727 non-null  datetime64[ns]
 6   order_estimated_delivery_date  108727 non-null  datetime64[ns]
 7   customer_zip_code_prefix       108727 non-null  int64
 8   customer_city                  108727 non-null  object
 9   customer_state                 108727 non-null  object
 10  payment_sequential             108726 non-null  float64
 11  payment_type                   108726 non-null  object
 12  payment_installments           108726 non-null  float64
 13  payment_value                  108726 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(1), object(6)
memory usage: 12.4+ MB

In [47]:
ordInfo.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
payment_sequential               1
payment_type                     1
payment_installments             1
payment_value                    1
dtype: int64

In [48]:
ordInfo.dropna(inplace=True)

In [49]:
ordInfo.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,3149,sao paulo,SP,1.0,credit_card,1.0,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,3149,sao paulo,SP,3.0,voucher,1.0,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,3149,sao paulo,SP,2.0,voucher,1.0,18.59
3,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,3149,sao paulo,SP,1.0,credit_card,1.0,18.12
4,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,3149,sao paulo,SP,3.0,voucher,1.0,2.00

In [50]:
ordInfo.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
dtype: int64

In [51]:
#merging order items and product tables
prodInfo = pd.merge(ordItem, product, how="left", on=["product_id"])

In [52]:
prodInfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112650 entries, 0 to 112649
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   order_id               112650 non-null  object
 1   order_item_id          112650 non-null  int64
 2   product_id             112650 non-null  object
 3   seller_id              112650 non-null  object
 4   price                  112650 non-null  float64
 5   shipping_charges       112650 non-null  float64
 6   product_category_name  112239 non-null  object
 7   product_weight_g       112239 non-null  float64
 8   product_length_cm      112239 non-null  float64
 9   product_height_cm      112239 non-null  float64
 10  product_width_cm       112239 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 10.3+ MB

In [53]:
prodInfo[prodInfo["product_category_name"].isna()]

,order_id,order_item_id,product_id,seller_id,price,shipping_charges,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
171,006cb7cafc99b29548d4f412c7f9f493,1,e10758160da97891c2fdcbc35f0f031d,323ce52b5b81df2cd804b017b7f09aa7,56.00,14.14,NaN,NaN,NaN,NaN,NaN
454,011080783e02d05b26c8c158b3653a42,1,9f69acd4da62618a3f6365b732d00ccd,897060da8b9a21f655304d50fd935913,33.90,13.82,NaN,NaN,NaN,NaN,NaN
456,011108c8a3d6eee6807f48a2e639439f,1,ea11e700a343582ad56e4c70e966cb36,01cf7e3d21494c41fb86034f2e714fa1,593.36,98.13,NaN,NaN,NaN,NaN,NaN
803,01d72d42aaedb3736840132071d51100,1,8d39a63db6a98e40571f486e0c711cf7,c826c40d7b19f62a09e2d7c5e7295ee2,147.20,18.91,NaN,NaN,NaN,NaN,NaN
1196,02c8a77069dc7fd1cf273312c3a6e499,1,17823ffd2de8234f0e885a71109613a4,46dc3b2cc0980fb8ec44634e21d2718e,279.99,15.55,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
111340,fcf380438c697a895901151d7a333c5c,1,d1802b79d2e79841cc2cadedd8d4e6a3,b8d890108a7a80e4f5d59eea9f362438,29.90,9.74,NaN,NaN,NaN,NaN,NaN
111341,fcf380438c697a895901151d7a333c5c,2,d1802b79d2e79841cc2cadedd8d4e6a3,b8d890108a7a80e4f5d59eea9f362438,29.90,9.74,NaN,NaN,NaN,NaN,NaN
112062,fe97f3949cbc37b9ab48ac5769514cbe,1,40a1e3c65a0bcf6f4ebba840a8156ba2,f3295428338a40977a03f555246a70f4,29.90,15.10,NaN,NaN,NaN,NaN,NaN
112333,ff3024474be86400847879103757d1fd,1,f9b1795281ce51b1cf39ef6d101ae8ab,3771c85bac139d2344864ede5d9341e3,39.90,9.94,NaN,NaN,NaN,NaN,NaN
112350,ff3a45ee744a7c1f8096d2e72c1a23e4,1,b61d1388a17e3f547d2bc218df02335b,07017df32dc5f2f1d2801e579548d620,139.00,21.42,NaN,NaN,NaN,NaN,NaN

In [54]:
prodInfo.dropna(inplace=True)

In [55]:
prodInfo.shape

(112239, 11)

In [56]:
prodInfo.product_category_name.value_counts()

toys                              84465
housewares                         5046
health_beauty                      3066
electronics                        2986
sports_leisure                     2313
furniture_decor                    2130
construction_tools                 1681
watches_gifts                      1542
telephony                          1261
other                              1178
auto                               1078
perfumery                           833
baby                                779
office_furniture                    683
stationery                          617
fashion                             558
pet_shop                            502
music                               327
books                               219
food                                208
consoles_games                      208
luggage_accessories                 206
air_conditioning                     96
agro_industry_and_commerce           63
industry_commerce_and_business       62
security_and_services                59
christmas_supplies                   29
art                                  21
party_supplies                       12
flowers                              11
Name: product_category_name, dtype: int64

In [57]:
ordInfo.to_excel('Retail_data2.xlsx', sheet_name='ordInfo', index=False)
prodInfo.to_excel('Retail_data2.xlsx', sheet_name='prodInfo', index=False)

<h6>ordInfo<h6> - A merge of payment and left_merged table where left_merged table is fromed by merging of order_del and customer table.
<h6>prodInfo<h6> - A merge of order items table and product table